.bicicleta-bg {
    background: var(--cor-1100);
    padding-bottom: 64px;

}

.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    gap: 40px;
}

.galeria-secondary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.galeria img {
    flex: 1;
    min-width: 100px;
    margin-bottom: 20px;
}

.informacoes > p {
    margin-bottom: 32px;
}

.entrega, .estoque {
    background: var(--cor-1200);
    display: flex;
    align-items: center;
    justify-self: start;
    padding: 2px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
}

.bicicleta-comprar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.bicicleta-comprar a {
    min-width: max-content;
    grid-row: 1/-1;
}

.informacoes h3 {
    font: 300 0.75rem/1 "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--cor-branco);
    margin-bottom: 16px;

}
.informacoes-container {
    padding: 32px;
    border-radius: 4px;
    background: var(--cor-1200);
    margin-bottom: 40px;
}
.informacoes-vantagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}

.vantagem-item img {
    width: 24px;
    margin-bottom: 4px;
}

.vantagem-item h2 {
    margin-bottom: 12px;
}

.ficha li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-1100);
    margin-bottom: 8px;
}

.ficha li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.ficha li span {
    color: var(--cor-600);
}

@media (max-width: 1200px) {
    .galeria {
        grid-template-areas: "nimbus" "nebula" "magic";
    }
}

@media (max-width: 800px) {
    .bicicleta {
        grid-template-columns: 1fr;
    }

    .galeria {
        grid-template-areas: "nimbus nimbus" "nebula magic";
        grid-row: 2;
    }
}  

@media (max-width: 400px) {
    .bicicleta-comprar {
        grid-template-columns: 1fr;
        place-items: start;
    }
}