/* Botão Primário */
.botao-primario {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    text-transform: uppercase;
    color: #332200;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao-primario:hover {
    background: linear-gradient(#ffb60d,#e59317);
}

/* Botão Secundário */
.botao-secundario {
    display: inline-block;
    padding: 16px 32px;
    background: var(--cor-900);
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--cor-branco);
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao-secundario:hover {
    background: var(--cor-1000);
}