.titulo-xl {
    font: 600 4rem/1.125 "Poppins", sans-serif;
}

.titulo-l {
    font: 600 2rem/1.125 "Poppins", sans-serif;
}

.titulo-m {
    font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.sob-titulo {
    font: 400 1.125rem/1.5 "Roboto", sans-serif;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.texto-m {
    font: 300 1.5rem/1.5 "Roboto", sans-serif;
}

.texto-s {
    font: 400 1rem/1.5 "Roboto", sans-serif;
}

.texto-xs-2 {
    font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

@media (max-width: 1200px) {
    .titulo-xl {
        font-size: 3rem;
    }
    
    .texto-m {
        font-size: 1.125rem;
    }
}

@media (max-width: 800px) {
    .titulo-xl {
        font-size: 2rem;
    }   
    
    .titulo-l {
        font-size: 1.5rem;
    }
    
    .texto-m {
        font-size: 1rem;
    }
}


