#orcamento {
    background: var(--cor-1100);
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.orcamento h2 {
    font: 300 0.75rem/1 "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--cor-500);
    margin-bottom: 16px;
}

.orcamento-form {
    background: var(--cor-branco);
    padding: 32px;
}