#orcamento {
    background: linear-gradient(to bottom, var(--cor-1100) 30%, var(--cor-100) 0);
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.orcamento h2,
.orcamento-conteudo h2{
    font: 300 0.75rem/1 "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--cor-500);
    margin-bottom: 16px;
    position: relative;
    display: flex;
    align-items: center;
}


.orcamento h2::before,
.orcamento-conteudo h2::before{
    content: "";
    width: 4px;
    height: 8px;
    background-color: var(--cor-p100);
    position: absolute;
    left: -12px;
}

.orcamento-escolha {
    background: var(--cor-1200);
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.orcamento-escolha > * {
    grid-column: 1/-1;
}

.orcamento-escolha > label {
    font: 300 1rem/1 "Poppins", sans-serif;
    color: var(--cor-500);
    grid-column: initial;
}

.orcamento-escolha label:hover {
    background-color: var(--cor-900);
}

.orcamento-escolha label {
    background: var(--cor-1000);
    padding: 12px 16px;
    border-radius: 4px;
    font: 300 1rem/1 "Poppins", sans-serif;
    color: var(--cor-500);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
}

.orcamento-escolha input:checked + label {
    background: var(--cor-branco);
    color: var(--cor-900);
    border: 1px solid var(--cor-p200);
    box-shadow: 0 0 0 2px var(--cor-p100);
}

.orcamento-escolha label span {
    display: none;
}

.orcamento-escolha input:checked + label span {
    display: inline-block;
}

.orcamento-escolha input[type="radio"] {
    opacity: 0  ;
    position: absolute;
    pointer-events: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
    display: grid;
    gap: 20px;
}

.orcamento-conteudo {
    display: none;
}

.orcamento-conteudo h2,
.orcamento-form h2:nth-of-type(n + 2){
    margin-top: 20px;
}

.orcamento-conteudo-bicicleta {
    display: none;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: var(--cor-branco);
    padding: 16px;
    border-radius: 4px;
}

.orcamento-conteudo-bicicleta li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.orcamento-conteudo-bicicleta li img {
    max-width: 16px ;
}

#nimbus:checked ~ #orcamento-nimbus,
#magic:checked ~ #orcamento-magic,
#nebula:checked ~ #orcamento-nebula {
    display: grid;
}

.orcamento-form {
    background: var(--cor-branco);
    padding: 32px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width:800px) {
    .orcamento {
        grid-template-columns: 1fr;
    }
}
